{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Koszyk{% endblock %}

{% block body %}
<div class="alert alert-primary" role="alert">
    Twój koszyk jest pusty
</div>

<div class="example-wrapper">
    <h1>Twój koszyk</h1>
</div>
{% endblock %}
