{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div id="form"></div>
{% endblock %}

{% block react %}
    {{ encore_entry_script_tags('user_register') }}
{% endblock %}