<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="strict-origin" />
        <meta http-equiv="X-Ua-Compatible" content="IE=edge">
        <meta name="author" content="Mateusz Cichocki cichocki.programmer@gmail.com">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/bookstore.ico') }}" />
        <title>{% block title %}BookStore{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
{#    <body>#}
{#        {% block body %}{% endblock %}#}
{#    </body>#}
{#    {% block javascripts %}#}
{#        {{ encore_entry_script_tags('app') }}#}
{#    {% endblock %}#}

{#    {% block react %}{% endblock %}#}

    <body class="{% block bodyClass %}{% endblock %}"> {# sidebar-collapse #}
    {% block website %}
        {% block navbar %}{% endblock %}
        {% block sidebar %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block login %}{% endblock %}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% block react %}{% endblock %}
    </body>
</html>
