{% extends 'base.html.twig' %}

{% block website %}
{#    {% if app.user %}#}
        <div class="wrapper">
            {% block navbar %}
                {% include 'app/navbar.html.twig' %}
            {% endblock %}

{#            {% block sidebar %}#}
{#                {% include 'website/sidebar.html.twig' %}#}
{#            {% endblock %}#}

            <div class="content-wrapper">
                <div class="container mt-4 mb-4 p-3" style="background-color: #fff;">
                    {% block body %}{% endblock %}
                </div>
            </div>

{#            {% block login %}{% endblock %}#}

            {% block footer %}
                {% include 'app/footer.html.twig' %}
            {% endblock %}
        </div>
{#    {% else %}#}
{#        #}
{#    {% endif %}#}
{% endblock %}

